.section{
    padding: 70px 0px;
}
.section .flex_row{
    justify-content: center;
    text-align: center;
}
.truck{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.shop-btn{
    display:flex;
    justify-content: center;
}
.button{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: #3B76EF;
    color: #fff;
    border: none;
    height: 40px;
    border-radius: 6px;
}
.button:hover{
    color:white;
    background:#184db9;
}

.section .flex_row .flex_col .check_mark >img{
    max-width: 100px;
    max-height: 100px;
}

.section .flex_row .flex_col .truck >img{
    display:flex;
    justify-content:flex-start;
    max-width: 50px;
    max-height: 50px;
    padding-right: 10px;
}
@media (min-width:320px) and (max-width:767px){
    .section .flex_row .flex_col .truck{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section .flex_row .flex_col .truck >img{
        max-width: 80px;
        max-height: 80px;
    }
}