
.main-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    background-color: #D9E5FA;
}

.checkout {
    text-align: center;
    background-color: #D9E5FA; ;
    font-size: 15px;
    padding-top:15px;
}
.section1{
    display:flex;
    flex-direction: column;
    padding:40px 100px;
    justify-content: space-evenly;
}
.section2{
    display:flex;
    flex-direction: column;
    padding:40px 100px;
}
.contact-text{
    display: flex;
    justify-content: space-between;
}
.contact-text p{
    padding:10px 0;
}

.input{
    width: 400px;
    height: 40px;
    padding:10px;
    border-radius: 6px;
    background-color: transparent;
}
.name{
    display:flex;
    width: 400px;
    gap:10px;
}
.address{
    display:flex;
    width: 400px;
    gap:10px;
}
.yangon{
    width: 400px;
    height: 40px;
    border-radius: 6px;
}
.other-region{
    width: 400px;
    height: 40px;
    border-radius: 6px;
}
.pay-now{
    display:flex;
    justify-content: center;

}
.button1{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3B76EF;
    color: #fff;
    border: none;
    height: 40px;
    border-radius: 6px;
}
.button:hover{
    color:white;
    background:#184db9;
}
  
td{
    padding-top:20px;
    height:30px;
}
.order{
    padding-bottom: 30px;
}
.order-item{
    display:flex;
    gap:20px;
    padding-top: 20px;
}
.product-image{
    padding:10px;
}
.order-list{
    line-height:30px;
}