
.main-container{
    background-color: #D9E5FA;
    padding-bottom:100px;
}

.header {
    background-color: #e5e9f2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

.logo {
    display:flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
}

.checkout {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #666;
    padding: 20px;
}

.cart-icon {
    font-size:20px;
}
.container{
    display:flex;
    /* padding-left: 100px; */
}

.contact-text{
    display: flex;
    justify-content: space-between;
}
.contact-text p{
    padding:10px 0;
}
.contact-form{
    /* border: 1px solid red; */
}
.input{
    width: 400px;
    height: 40px;
    border-radius: 6px;
}
.name{
    display:flex;
    width: 400px;
    gap:10px;
}
.address{
    display:flex;
    width: 400px;
    gap:10px;
}
.yangon{
    width: 400px;
    height: 40px;
    border-radius: 6px;
}
.other-region{
    width: 400px;
    height: 40px;
    border-radius: 6px;
}
.pay-now{
    display:flex;
    justify-content: center;

}
.button{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3B76EF;
    color: #fff;
    border: none;
    height: 40px;
    border-radius: 6px;
}
.button:hover{
    color:white;
    background:#184db9;
}
.section2{
    /* display:flex;
    flex-direction: column;
    justify-content: flex-end; */
    padding-left: 100px;
    padding-top:20px;
}
  
td{
    padding-top:20px;
    height:30px;
}
.order-item{
    display:flex;
    gap:20px;
    
}
.product-image{
    padding-top:25px;
}